version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - ALPHAVANTAGE_API_KEY=${ALPHAVANTAGE_API_KEY}
      - FLASK_DEBUG=1
    volumes:
      - .:/app
      - ./static:/app/static